# General
.DS_Store

# Icon must end with two \r
Icon


# Thumbnails
._*

style/*.css

# Ignore all files in the dist directory
dist/*

# Ignore all files in the node_modules directory
node_modules/*

data/*
music/*